In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

# Load Excel file
file_path = 'Regional Sales Dataset.xlsx'
xls = pd.ExcelFile(file_path)
sales_df = xls.parse('Sales Orders')

# Ensure OrderDate is in datetime format
sales_df['OrderDate'] = pd.to_datetime(sales_df['OrderDate'], errors='coerce')

# Generate random years between 2020 and 2024
random_years = np.random.randint(2020, 2025, size=len(sales_df))

# Safely replace the year
def safe_replace_year(date, new_year):
    if pd.isnull(date):
        return date
    try:
        return date.replace(year=new_year)
    except ValueError:
        # fallback for leap year issues (e.g. Feb 29 → Feb 28)
        return datetime(new_year, date.month, min(date.day, 28))

sales_df['OrderDate'] = [
    safe_replace_year(date, year) for date, year in zip(sales_df['OrderDate'], random_years)
]

# Save the result
sales_df.to_excel('Updated_Sales_Orders.xlsx', index=False)
print("✅ OrderDate years updated and file saved as 'Updated_Sales_Orders.xlsx'")

✅ OrderDate years updated and file saved as 'Updated_Sales_Orders.xlsx'

In [5]:
sales_df

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,Line Total,Total Unit Cost
0,SO - 000225,2023-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,14994.6,1824.343
1,SO - 0003378,2020-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,25868.7,1269.918
2,SO - 0005126,2020-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,5869.2,684.740
3,SO - 0005614,2022-01-01,42,Export,USD,AXW291,473,7,7,2338.3,16368.1,1028.852
4,SO - 0005781,2021-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,18331.2,1260.270
...,...,...,...,...,...,...,...,...,...,...,...,...
64099,SO - 0007573,2023-02-28,74,Wholesale,USD,AXW291,825,26,12,1815.7,21788.4,980.478
64100,SO - 0007706,2022-02-28,51,Export,USD,NXH382,444,21,6,864.3,5185.8,579.081
64101,SO - 0007718,2020-02-28,136,Distributor,USD,AXW291,312,13,11,3953.0,43483.0,2648.510
64102,SO - 0008084,2023-02-28,158,Distributor,USD,AXW291,737,20,7,3959.7,27717.9,2930.178
64103,SO - 0008654,2021-02-28,22,Distributor,USD,AXW291,807,15,8,998.3,7986.4,848.555

In [7]:
df = pd.read_excel('Updated_Sales_Orders.xlsx')
df

,OrderNumber,OrderDate,Customer Name Index,Channel,Currency Code,Warehouse Code,Delivery Region Index,Product Description Index,Order Quantity,Unit Price,Line Total,Total Unit Cost
0,SO - 000225,2023-01-01,126,Wholesale,USD,AXW291,364,27,6,2499.1,14994.6,1824.343
1,SO - 0003378,2020-01-01,96,Distributor,USD,AXW291,488,20,11,2351.7,25868.7,1269.918
2,SO - 0005126,2020-01-01,8,Wholesale,USD,AXW291,155,26,6,978.2,5869.2,684.740
3,SO - 0005614,2022-01-01,42,Export,USD,AXW291,473,7,7,2338.3,16368.1,1028.852
4,SO - 0005781,2021-01-01,73,Wholesale,USD,AXW291,256,8,8,2291.4,18331.2,1260.270
...,...,...,...,...,...,...,...,...,...,...,...,...
64099,SO - 0007573,2023-02-28,74,Wholesale,USD,AXW291,825,26,12,1815.7,21788.4,980.478
64100,SO - 0007706,2022-02-28,51,Export,USD,NXH382,444,21,6,864.3,5185.8,579.081
64101,SO - 0007718,2020-02-28,136,Distributor,USD,AXW291,312,13,11,3953.0,43483.0,2648.510
64102,SO - 0008084,2023-02-28,158,Distributor,USD,AXW291,737,20,7,3959.7,27717.9,2930.178
64103,SO - 0008654,2021-02-28,22,Distributor,USD,AXW291,807,15,8,998.3,7986.4,848.555

In [9]:
pf = pd.read_csv('Sales_data(EDA Exported).csv')
pf

,order_number,order_date,customer_name,channel,product_name,quantity,unit_price,revenue,cost,state,...,us_region,lat,lon,budget,total_cost,profit,profit_margin_pct,order_month_name,order_month_num,order_month
0,SO - 000225,2014-01-01,Rhynoodle Ltd,Wholesale,Product 27,6,2499.1,14994.6,1824.343,GA,...,South,32.08354,-81.09983,NaN,10946.058,4048.542,27.0,January,1,2014-01
1,SO - 0003378,2014-01-01,Thoughtmix Ltd,Distributor,Product 20,11,2351.7,25868.7,1269.918,IN,...,Midwest,39.61366,-86.10665,NaN,13969.098,11899.602,46.0,January,1,2014-01
2,SO - 0005126,2014-01-01,Amerisourc Corp,Wholesale,Product 26,6,978.2,5869.2,684.740,CA,...,West,37.66243,-121.87468,NaN,4108.440,1760.760,30.0,January,1,2014-01
3,SO - 0005614,2014-01-01,Colgate-Pa Group,Export,Product 7,7,2338.3,16368.1,1028.852,IN,...,Midwest,39.16533,-86.52639,NaN,7201.964,9166.136,56.0,January,1,2014-01
4,SO - 0005781,2014-01-01,Deseret Group,Wholesale,Product 8,8,2291.4,18331.2,1260.270,CT,...,Northeast,41.77524,-72.52443,NaN,10082.160,8249.040,45.0,January,1,2014-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64099,SO - 0007573,2018-02-28,Dazzlesphe Corp,Wholesale,Product 26,12,1815.7,21788.4,980.478,PA,...,Northeast,40.15511,-74.82877,NaN,11765.736,10022.664,46.0,February,2,2018-02
64100,SO - 0007706,2018-02-28,Yombu Corp,Export,Product 21,6,864.3,5185.8,579.081,IL,...,Midwest,42.11030,-88.03424,NaN,3474.486,1711.314,33.0,February,2,2018-02
64101,SO - 0007718,2018-02-28,Bath Group,Distributor,Product 13,11,3953.0,43483.0,2648.510,FL,...,South,26.24453,-80.20644,NaN,29133.610,14349.390,33.0,February,2,2018-02
64102,SO - 0008084,2018-02-28,Linklinks Ltd,Distributor,Product 20,7,3959.7,27717.9,2930.178,NY,...,Northeast,42.91002,-78.74182,NaN,20511.246,7206.654,26.0,February,2,2018-02
64103,SO - 0008654,2018-02-28,SAFEWAY Ltd,Distributor,Product 15,8,998.3,7986.4,848.555,OR,...,West,45.48706,-122.80371,NaN,6788.440,1197.960,15.0,February,2,2018-02